.button
  display: inline-block
  padding: $pad-4 $pad-6
  font-weight: 400
  font-size: $size-sm
  color: $white
  background: $primary
  leading-trimg: both
  text-edge: cap alphabetic

  &--icon
    padding: $pad-3
    border-radius: 999px
